
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 23% 14%;
    --foreground: 270 75% 92%;

    --card: 240 23% 14%;
    --card-foreground: 270 75% 92%;

    --popover: 240 23% 14%;
    --popover-foreground: 270 75% 92%;

    --primary: 255 82% 75%;
    --primary-foreground: 0 0% 100%;

    --secondary: 267 28% 54%;
    --secondary-foreground: 260 11% 96%;

    --accent: 267 30% 50%;
    --accent-foreground: 85 89% 94%;

    --muted: 220 3% 57%;
    --muted-foreground: 213 93% 91%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 267 30% 50%;
    --input: 267 28% 54%;
    --ring: 255 82% 75%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@keyframes slide {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(-100vh);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}

.glitch-text {
  text-shadow: 
    2px 2px 10px rgba(99, 102, 241, 0.5),
    -2px -2px 10px rgba(168, 85, 247, 0.5);
}
